.git
.github
**/.git
**/node_modules
**/.next
**/out
**/vendor
**/.env
**/.env.*
!**/.env.example
**/storage/logs/*
**/storage/framework/cache/*
**/storage/framework/sessions/*
**/storage/framework/views/*
**/bootstrap/cache/*
**/public/storage
**/*.md
!README.md
**/coverage
**/.phpunit.result.cache
**/database/*.sqlite
